<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/fragments/main :: bootstrap-head"></head>
<head th:replace="shared/fragments/main :: fonts-head"></head>
<head th:replace="shared/fragments/navbar/navbar :: navbar-head"></head>
<head>
    <meta charset="UTF-8">
    <title>General Info</title>
</head>
<body>
<div th:insert="shared/fragments/navbar/navbar :: navbar(${activePage})"></div>
<div th:insert="shared/fragments/navbar/navbar :: navbar-mobile(${activePage})"></div>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="container offset-md-1" th:each="ukBankHoliday : ${ukBankHolidays}">
        <h5 th:text="${ukBankHoliday.title}"></h5>
        <br/>
        <table class="col-md-10">
            <tbody>
            <tr th:each="holiday : ${ukBankHoliday.holidays}" style="border-bottom: 1px solid #6610f2">
                <td th:text="${holiday.shortDate}"></td>
                <td th:text="${holiday.dayOfWeek}"></td>
                <td th:text="${holiday.holidayName}"></td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
</div>
</body>
</html>
