<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>About | Ovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_about.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_helper.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_main-style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="shared/navbar :: navbar(${activePage})"></div>
<div th:insert="shared/navbar-mobile :: navbar-mobile(${activePage})"></div>
<div class="about_wrapper">
    <div class="container-fluid">
        <div class="content_wrapper">
            <div class="about_title">
                <div class="about_title_myName">I'm Ovi</div>
                <div class="about_title_subtitle">
                    And I'm glad to meet you!
                </div>
            </div>
            <div class="main_content_wrapper_box ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="motto">
                                <h3>I'm a passionate web developer</h3>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="container-fluid w-100">
                        <div class="row get_in_contact">
                            <div class="v-align ">
                                <div class="row">
                                    <div class="col-md-7 pt-0 pl-5 pr-5">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;I love designing the frontend and also
                                            the backend using my favorite Javascript and Java
                                            technologies.
                                        </div>
                                    </div>
                                    <div class="col-md-4 get_in_tough_btn">
                                        <a href="/contact" class="btn btn-gradient">Get In Touch</a>
                                        <a target="_blank"
                                           href="https://docs.google.com/document/d/1zihGiwBrrcbji4dR1krRtYlACKKJLlcBcM-Oy0mkEqQ/edit?usp=sharing"
                                           class="btn btn-gradient">Get My CV</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="my_story">
                                    <h5 class="my_story_title">A bit more about my story</h5>
                                    <div class="my_story_content">
                                        My programming Story begun since High School, when I chosen
                                        to go for programming, I have started with Pascal which I
                                        think is the best start to break into programming since
                                        Pascal is one of the very basic programming language,and
                                        then in the university I've studied a lot of programming
                                        languages starting with C and then C++, and after my beloved
                                        Java and web programming too, after finishing university I
                                        ended up in the UK and it was hard to find a programming
                                        job, but when things have got better I've looked into the
                                        market and I have seen a big potential in Javascript as it
                                        can go on frontend as well as backend, I've started to learn
                                        again and creating full stack projects mainly with
                                        Javascript / React on frontend and NodeJS on backend, but of
                                        course I have never lost my programming mind set, so I do
                                        have a programming thinking, after doing a few real world
                                        projects and progressing I'm confident of building modern
                                        responsive Webapps and over a year and a half industrial
                                        experience with latest technologies and really
                                        enjoying learning new ones.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/navbar/navbar.js}"></script>
<div th:insert="shared/footer :: footer"></div>
</body>
</html>