<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/fragments/main :: bootstrap-head"></head>
<head th:replace="shared/fragments/main :: fonts-head"></head>
<head th:replace="shared/fragments/navbar/navbar :: navbar-head"></head>
<head th:replace="shared/fragments/footer/footer :: footer-head"></head>
<head lang="en">
    <title>About | Ovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_about.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_helper.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_main-style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="shared/fragments/navbar/navbar :: navbar(${activePage})"></div>
<div th:insert="shared/fragments/navbar/navbar :: navbar-mobile(${activePage})"></div>
<div class="about_wrapper">
    <div class="container-fluid">
        <div class="content_wrapper">
            <div class="about_title">
                <div class="about_title_myName">I'm Ovi</div>
                <div class="about_title_subtitle">
                    And I'm glad to meet you!
                </div>
            </div>
            <div class="main_content_wrapper_box ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="motto">
                                <h3>Passionate and Creative Web Developer Committed to Crafting Exceptional Digital Experiences</h3>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="container-fluid w-100">
                        <div class="row get_in_contact">
                            <div class="v-align ">
                                <div class="row">
                                    <div class="col-md-7 pt-0 pl-5 pr-5">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;I have a strong passion for crafting both the frontend and
                                            backend, harnessing my preferred JavaScript and Java technologies.
                                        </div>
                                    </div>
                                    <div class="col-md-4 get_in_tough_btn">
                                        <a href="/contact" class="btn btn-gradient">Get In Touch</a>
                                        <a target="_blank"
                                           href="https://docs.google.com/document/d/1zihGiwBrrcbji4dR1krRtYlACKKJLlcBcM-Oy0mkEqQ/edit?usp=sharing"
                                           class="btn btn-gradient">Get My CV</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="my_story">
                                    <h5 class="my_story_title">Here's a bit more about my journey into the world of
                                        programming.</h5>
                                    <br/>
                                    <br/>
                                    <div class="my_story_content">
                                        My passion for coding ignited during high school when I made the decision to
                                        venture into the world of programming. I began with Pascal, a language renowned
                                        for its simplicity and effectiveness as an introductory programming language.
                                        During my university years, I delved into an array of programming languages,
                                        starting with C and then moving on to C++. My true love affair with Java and web
                                        development began here.
                                    </div>
                                    <div class="my_story_content">
                                        Upon completing my university education, I found myself in the UK, facing the
                                        challenge of securing a programming job. However, I never lost my determination.
                                        When things began to look up, I explored the dynamic realm of JavaScript,
                                        recognizing its potential both in frontend and backend development. I embarked
                                        on a journey of continuous learning, honing my skills and tackling full-stack
                                        projects with a primary focus on JavaScript, React for the frontend, and Node.js
                                        for the backend.
                                    </div>
                                    <div class="my_story_content">
                                        My programming mindset has remained unwavering, enabling me to approach projects
                                        with a solution-oriented perspective. As a result, I've gained hands-on
                                        experience in crafting modern, responsive web applications. With over a year and
                                        a half of industrial experience and a strong inclination for adopting the latest
                                        technologies, I'm not only proficient in today's tech landscape but also
                                        genuinely enthusiastic about acquiring new skills and knowledge.
                                    </div>
                                    <div class="my_story_content">
                                        In the ever-evolving landscape of technology, there exists a story of unwavering
                                        passion and continuous growth. Our protagonist, an ambitious developer, embarked
                                        on a journey that led to a profound love for two key players in the software
                                        world: Angular and Java
                                    </div>
                                    <div class="my_story_content">
                                        The developer's passion for Angular and Java grew exponentially as real-world
                                        projects took shape. Each line of code was a brushstroke on a canvas, painting
                                        the portrait of a passionate creator. With hands-on experience and a
                                        solution-oriented mindset, complex challenges were tackled with unwavering
                                        dedication.
                                    </div>
                                    <div class="my_story_content">
                                        Fast forward to today, and the developer stands with over a year and a half of
                                        industrial experience. The world of technology keeps evolving, and our
                                        protagonist, a true aficionado of Angular and Java, eagerly embraces each new
                                        development. With the desire to learn and a profound love for innovation, this
                                        story continues to unfold, promising exciting chapters ahead in the
                                        ever-advancing world of software development.
                                    </div>

                                    <br/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="shared/fragments/footer/footer :: footer"></div>
</body>
</html>
