<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/fragments/main :: bootstrap-head"></head>
<head th:replace="shared/fragments/main :: fonts-head"></head>
<head th:replace="shared/fragments/navbar/navbar :: navbar-head"></head>
<head th:replace="shared/fragments/footer/footer :: footer-head"></head>
<head th:replace="shared/fragments/loading-component :: loading-head"></head>
<head lang="en">
    <title>Contact | Ovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base href="/" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_contact.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_helper.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_main-style.css}"/>
</head>
<body>
<div th:insert="shared/fragments/navbar/navbar :: navbar(${activePage})"></div>
<div th:insert="shared/fragments/navbar/navbar :: navbar-mobile(${activePage})"></div>
<div class="main_wrapper_contact">
    <div class="contact_form_main">
        <div class="contact_form_wrapper mt-5">
            <h1 class="contact_form_title py-2">
                Contact <span style="color:#01c851">Me</span>
            </h1>
            <div class="pt-2" style="padding:0">
                <form id="contact-form" class="container-fluid">
                    <div class="group input-custom mt-medium">
                        <input class="form-control" id="senderName" type="text" required placeholder="Your Name"/>
                        <!--                            <label>Name</label>-->
                    </div>
                    <div class="group input-custom mt-medium">
                        <input class="form-control" id="senderEmail" type="email" required placeholder="Your Email"/>
                        <!--                            <label>Email</label>-->
                    </div>
                    <textarea
                            id="senderMessage"
                            class="input_text_area form-control"
                            rows="4"
                            style="width:100%"
                            placeholder="Message"
                            required></textarea>

                    <div class="submit-wrapper">
                        <button id="contactFormSubmit" class="btn btn-success mt-4 mb-2" type="submit">Send Msg</button>
                    </div>
                    <div th:include="shared/fragments/loading-component :: loading-component(@{'Server Error please try again...'},@{'Message sent successfully.'})"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="shared/fragments/footer/footer :: footer"></div>
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/js/shared/PostResponse.js}"></script>
</body>
</html>
