<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Contact | Ovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_contact.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_helper.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="shared/navbar :: navbar(${activePage})"></div>
<div class="main_wrapper_contact">
    <div class="contact_form_main">
        <div class="contact_form_wrapper">
            <div class="row">
            </div>
            <br/>
            <h1 class="contact_form_title pb-2">
                Contact <span style="color:#01c851">Me</span>
            </h1>
            <br/>
            <br/>
            <div class="pt-4" style="padding:0">
                <form id="contactForm" class="container-fluid">
                    <div class="group input-custom">
                        <input id="senderName" type="text" required placeholder="Your Name"/>
                        <span class="bar"></span>
                        <!--                            <label>Name</label>-->
                    </div>

                    <div class="group input-custom">
                        <input id="senderEmail" type="email" required placeholder="Your Email"/>
                        <span class="bar"/>
                        <!--                            <label>Email</label>-->
                    </div>

                    <textarea
                            id="senderMessage"
                            class="input_text_area"
                            rows="4"
                            style="width:100%"
                            placeholder="Message"
                            required></textarea>

                    <br/>
                    <br/>
                    <div class="submit-wrapper">
                        <button id="contactFormSubmit" class="btn btn-success" type="submit">Send Msg</button>
                    </div>
                    <br/>
                    <div id="loading" class="loading noDisplay" >
                        <i class="fas fa-spinner fa-spin fa-2x"></i>
                    </div>
                    <div id="errorMsg" class="errorMsg noDisplay">
                        <p>Server Error please try again...</p>
                    </div>
                    <div id="successMsg" class="successMsg noDisplay">
                        <p>Message sent successfully.</p>
                    </div>
                </form>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/contact.js}"></script>
</body>
</html>