<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar-mobile">
    <ul class="navBar_mobile_menu">
        <li id="navBar_mobile_menu-btn">
            <span>MENU &nbsp;<span class="hand fas fa-hand-point-left"></span></span>
        </li>
    </ul>
</div>

<!--    <ul class="navBar_mobile_menu">-->
<!--        <li id="navBar_mobile_menu-btn">-->
<!--&lt;!&ndash;                id="navBar_mobile_menu-btn"&ndash;&gt;-->
<!--        &lt;!&ndash;                class={openMenu ?&ndash;&gt;-->
<!--        &lt;!&ndash;        "m-fadeOut" : ""}&ndash;&gt;-->
<!--        <span>MENU &nbsp;<span class="hand fas fa-hand-point-left"></span></span>-->
<!--        </li>-->
<!--        &lt;!&ndash;            <ul&ndash;&gt;-->
<!--        &lt;!&ndash;                class={&ndash;&gt;-->
<!--        &lt;!&ndash;                openMenu&ndash;&gt;-->
<!--        &lt;!&ndash;                ?&ndash;&gt;-->
<!--        &lt;!&ndash;        "navBar_mobile_hidden_menu"&ndash;&gt;-->
<!--        &lt;!&ndash;        : "navBar_mobile_hidden_menu m-fadeOut"&ndash;&gt;-->
<!--        &lt;!&ndash;        }&ndash;&gt;-->
<!--        &lt;!&ndash;        >&ndash;&gt;-->
<!--        &lt;!&ndash;        <NavbarMeniu tab={this.props.tab}/>&ndash;&gt;-->
<!--        &lt;!&ndash;            <li&ndash;&gt;-->
<!--        &lt;!&ndash;                    style={{cursor:&ndash;&gt;-->
<!--        &lt;!&ndash;            "pointer"}}&ndash;&gt;-->
<!--        &lt;!&ndash;            onClick={() => {&ndash;&gt;-->
<!--        &lt;!&ndash;            this.toggleMenu("");&ndash;&gt;-->
<!--        &lt;!&ndash;            }}&ndash;&gt;-->
<!--        &lt;!&ndash;            >&ndash;&gt;-->
<!--        &lt;!&ndash;            <i class="fas fa-long-arrow-alt-left"/> Back&ndash;&gt;-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
</body>
</html>