<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar-mobile(activePage)">
    <div class="navbar-mobile-main-wrapper">
        <div id="navbar-menu-btn" class="navBar_mobile_menu-btn">MENU &nbsp;<span
                class="hand fas fa-hand-point-left"></span></div>
        <div id="navbar-mobile-items-hidden-menu" class="navBar_mobile_menu navbar-mobile-items-hidden">
            <ul class="navbar-mobile-items">
                <div th:insert="shared/navbar-items :: navbar-items(${activePage})"></div>
                <span id="navbar-back-btn" class="fas fa-long-arrow-alt-left"> Back</span>
            </ul>
        </div>
    </div>
</div>
</body>
</html>