.footer_wrapper {
    position: relative;
    background-color: rgba(24, 22, 22, 0.925);
    padding: 2rem 0;
}
.footer_wrapper .footer_what_i_do {
    color: #3498db;
}
.footer_wrapper .footer_what_i_do .footer_card {
    float: left;
    margin: 0 auto;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.4rem;
}
.footer_wrapper .footer_what_i_do .footer_card .title {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
}
.footer_wrapper .footer_what_i_do .footer_card .footer_card_badge {
    font-size: 1.4rem;
    margin: 0 auto;
}
.footer_wrapper .footer_what_i_do i {
    padding: 1rem;
    font-size: 2rem;
}
.footer_wrapper a {
    color: #3498db;
}
.footer_wrapper a:hover {
    color: #217dbb;
}
.clear-fix {
    display: table;
    clear: both;
}
h4, h6 {
    color: #b5b9b9;
}
