html {
  scroll-behavior: smooth;
}
.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.pointerCursor {
  cursor: pointer;
}
.landing_page_wrapper {
  background-image: url("/img/landing_page1.jpg");
  background-size: cover;
  height: calc(100vh);
  color: #f5f5f5;
}
.landing_page_wrapper .landing_page_content_wrapper {
  position: absolute;
  z-index: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(19, 19, 17, 0.65);
  width: 100%;
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-width: bold;
}
.landing_page_arrow_down span {
  animation: 1s ease infinite pulse;
  color: #2980b9;
  cursor: pointer;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
}
.lp_info_wrapper {
  margin: 0;
  border-radius: none;
}
.lp_info_wrapper .lp_info_wrapper_intro {
  padding-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  font-family: "Hand Writing";
  color: #B5B9B9;
}
.landing_page_p2 {
  font-size: 1.6rem;
}
 