.navBar_wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    height: 60px;
    width: 100vw;
    font-family: monospace;
}
@media screen and (max-width: 792px) {
    .navBar_wrapper {
        display: none;
    }
    .navBar_mobile_menu {
        display: block;
        position: fixed;
        height: 100vh;
        top: 0;
        margin: 0;
        padding: 1rem 0;
        color: #9e9b9b;
        background-color: rgba(19, 19, 17, 0.9);
        z-index: 99;
    }
    .navBar_mobile_menu-btn {
        margin: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: #9e9b9b;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    .navBar_items_list{
        font-weight: bold;
    }
    .navBar_desktop_menu {
        display: none;
    }
    .navBar_desktop_logo {
        display: none;
    }
    .navbar-mobile-items {
        font-size: 1.3rem;
        padding: 3.8rem 2.4rem;
    }
    .navbar-mobile-items li {
        padding: 0.2rem 0;
        list-style: none;
    }
    .navbar-mobile-items li a {
        text-decoration: none;
    }
    .navbar-mobile-items-hidden {
        visibility: hidden;
    }
    #navbar-back-btn {
        cursor: pointer;
    }
}
@media screen and (min-width: 793px) {
    .navBar_wrapper {
        background-color: rgba(19, 19, 17, 0.9);
    }
    .navbar-mobile-main-wrapper{
        display: none;
    }
}
.navBar_desktop_menu {
    width: 100%;
    text-decoration: none;
    list-style: none;
}
.navBar_desktop_menu .navBar_desktop_logo {
    float: left;
    color: #b9b9b9;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 60px;
}
@media screen and (min-width: 793px) {
    .navBar_desktop_menu {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1.2rem;
    }
    .navBar_desktop_menu .navBar_items_list {
        float: right;
        font-weight: bold;
        font-size: 2rem;
    }
    .navBar_desktop_menu li {
        text-decoration: none;
        padding-right: 25px;
        float: left;
    }
    .navBar_desktop_menu li a {
        text-decoration: none;
        font-family: monospace;
        font-size: 1.2rem;
    }
}
