<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Login | Ovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_helper.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_navbar.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="shared/navbar :: navbar(${activePage})"></header>
<div class="main_wrapper_login">
    <div class="login_wrapper">
        <div class="col-xs-12">
            <h1 class="login_form_title">
                Log<span style="color:#01c851">In</span>
            </h1>
        </div>
        <!--            id="loginForm" class="container-fluid"-->
        <form th:action="@{/login}" method="post">
            <div class="col-xs-12 my-3">
                <div class="form-group">
                    <input name="username" class="form-control" th:autofocus="autofocus" id="emailField" type="text"
                           th:required="required"
                           placeholder="Email"/>
                </div>
            </div>
            <div class="col-xs-12 mb-3">
                <div class="form-group">
                    <input class="form-control" name="password" id="passwordField" type="password"
                           th:required="required"
                           placeholder="Password"/>
                </div>
            </div>
            <div class="col-xs-12 center">
                <button id="loginbtn" class="btn btn-success login-btn" type="submit">Login</button>
                <!--            <button class="btn btn-success ml-3" type="submit">-->
                <!--                Signup <i class="fas fa-long-arrow-alt-right"></i>-->
                <!--            </button>-->
            </div>
            <div id="loading" class="loading noDisplay">
                <i class="fas fa-spinner fa-spin fa-2x"></i>
            </div>
            <div th:if="${param.error}" id="errorMsg" class="errorMsg pt-3">
                <p>Email or password is incorrect!</p>
            </div>
            <div id="successMsg" class="successMsg noDisplay">
                <p>You are now authenticated.</p>
            </div>
            <!--        <div class="col-xs-12 mt-medium">-->
            <!--            <button class="btn btn-outline-ligh" type="submit">-->
            <!--                Forgot Password-->
            <!--            </button>-->
            <!--        </div>-->
        </form>
    </div>
</div>
</body>
</html>