<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="shared/fragments/main :: bootstrap-head"></head>
<head th:replace="shared/fragments/main :: fonts-head"></head>
<head th:replace="shared/fragments/navbar/navbar :: navbar-head"></head>
<head th:replace="shared/fragments/loading/loading-full-screen :: loading-head"></head>
<head>
    <meta charset="UTF-8">
    <title>Settings Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_helper.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_settings.css}"/>
</head>
<body>
<div th:insert="shared/fragments/navbar/navbar :: navbar(${activePage})"></div>
<div th:insert="shared/fragments/navbar/navbar :: navbar-mobile(${activePage})"></div>
<div th:insert="shared/fragments/loading/loading-full-screen :: loading"></div>
<br/>
<br/>
<br/>
<div class="container" sec:authorize="hasRole('ADMIN')">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3 border-bottom border-secondary pb-3">
            <div class="row col-12">
                <form class="w-100" action="/add-new-portfolio" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-start align-items-center font-weight-bold">
                            <div class="h5 font-weight-bold">Load portfolio from JSON</div>
                        </div>
                    </div>

<!--
                    <div class="col-md-12">
                        <input accept="application/JSON" name="jsonProject" type="file" class="form-control-file"/>
                        <button type="submit" class="btn btn-primary" name="submit">Load from json</button>
                    </div>
-->


                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input accept="application/JSON" type="file" class="custom-file-input"
                                           name="jsonProject" id="jsonProject">
                                    <label class="custom-file-label" for="jsonProject">Choose Portfolio JSON
                                        File</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text" name="submit">Upload JSON File</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 offset-md-2 mt-3 border-bottom border-secondary pb-3">
            <div class="row col-12">
                <div class="h5 font-weight-bold">Add New Portfolio</div>
            </div>
            <div class="row col-12 mt-2">
                <a class="badge badge-info px-3 py-2"
                   href="/add-new-portfolio"><span>Go to Add Portfolio Page</span></a>
            </div>
        </div>
        <div class="col-md-8 offset-md-2 mt-3 border-bottom border-secondary pb-3">
            <div class="row col-12">
                <div class="h5 font-weight-bold">Download Portfolios data</div>
            </div>
            <div id="download-pane" class="row col-12 mt-2">
                <div id="download-portfolio" class="badge badge-info px-3 py-2 hand-pointer">
                    <span>Get As zip file</span>
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2 mt-3 border-bottom border-secondary pb-3">
            <div class="row col-12">
                <div class="h5 font-weight-bold">Clear Portfolios zip cache data (Temp folder)</div>
            </div>
            <div id="clear-temp-dir-pane" class="row col-12 mt-2">
                <div id="clear-temp-dir" class="badge badge-info px-3 py-2 hand-pointer">
                    <span>Clear temp files</span>
                </div>
            </div>
        </div>
        <div id="alerts-pane"></div>
    </div>
</div>
<script th:src="@{/js/settings/download-portfolio.js}"></script>
</body>
</html>