<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="navbar-items(activePage)">
    <li>
        <a href="/">
            <span th:style="${activePage == 'HOME' ? 'color:#3498db' : 'color:#b9b9b9'}">Home</span></a></li>
    <li>
        <a href="/portfolio/all">
            <span th:style="${activePage == 'PORTFOLIOS' ? 'color:#3498db' : 'color:#b9b9b9'}">Portfolios</span></a>
    </li>
    <li sec:authorize="hasAnyRole('ADMIN', 'PRIVATE')">
        <a id="newPortfolio" href="/settings">
            <span th:style="${activePage == 'SETTINGS' ? 'color:#3498db' : 'color:#b9b9b9'}">Settings</span></a>
    </li>
    <li>
        <a href="/contact">
            <span th:style="${activePage == 'CONTACT' ? 'color:#3498db' : 'color:#b9b9b9'}">Contact</span></a></li>
    <li>
        <a href="/about">
            <span th:style="${activePage == 'ABOUT' ? 'color:#3498db' : 'color:#b9b9b9'}">About</span></a></li>
<!--    <li>-->
<!--        <a href="/logout" sec:authorize="isAuthenticated()" style="color:#b9b9b9">Logout</a>-->
<!--        <a href="/login" sec:authorize="isAnonymous()"-->
<!--           th:style="${activePage == 'LOGIN' ? 'color:#3498db' : 'color:#b9b9b9'}">Login</a>-->
<!--    </li>-->
</div>
</body>
</html>
