<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="howthissitewasbuilt">
    <div class="lp_info_wrapper pb-5">
        <div class="container p-4">
            <h4 class="lp_info_wrapper_intro text-center">
                How was this site built
            </h4>
        </div>
        <div class="container">
            <p class="lead text-left text-justify pt-2 h6">
                This website is my digital canvas, where I showcase my present and upcoming applications, artfully designed for peak performance and contemporary tech relevance. Initially crafted with Next.js and React, it has recently undergone a transformative evolution, reborn with the prowess of Java Spring Boot and Thymeleaf.
            </p>
            <p class="lead text-left text-justify pt-2 h6">
                The tech tapestry is rich and diverse: Thymeleaf, with select Javascript for rapid AJAX responses, weaves an engaging frontend. On the backend, the foundation is Java paired with Spring Boot 2.4.1, guided by Maven's adept dependency management. Security is fortified through Spring Security, offering multi-role access. Swagger enhances development, simplifying API documentation. Our data domain is underpinned by MongoDB, seamlessly entwined with Spring Boot via MongoRepository.
            </p>
            <p class="lead text-left text-justify pt-2 h6">
                Yet, it's the innovative touches that truly set this site apart. It empowers me to zip my portfolios and download them as a coherent package, complete with project specifics stored in JSON files for effortless re-upload. All this, while automatically resizing, compressing, and optimizing images during portfolio uploads, ensuring peak website performance. And don't forget the dedicated email service, ready to facilitate user interaction on the contact page. It's a digital masterpiece in the making, blending the elegance of Thymeleaf and the potency of Spring Boot to redefine my online presence.
            </p>
        </div>
    </div>
</div>
</body>
</html>
