<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="landingpage">
    <div class="lp_info_wrapper pt-4">
        <div class="container">
            <h4 class="lp_info_wrapper_intro">A little intro about myself</h4>
            <div class="row pt-4 centerText">
                <div class="col-md-6">
                    <h5 class="lp_info_wrapper_intro">My Lifelong Passion for Technology</h5>
                    <p class="lead text-left text-justify pt-2 h6">
                        My journey into the world of technology began at the age of 7, a time when computers were still
                        a rarity. However, my first glimpse of a computer on television ignited a deep passion within
                        me. A few years later, when I received my very first computer at home, I was overjoyed. It
                        marked the beginning of my programming adventure.
                    </p>
                    <p class="lead text-left text-justify pt-2 h6">
                        I took my first steps into the world of coding during high school, and I've never looked back
                        since. My academic pursuits led me to university, where I continued to explore the fascinating
                        realms of programming and technology. The more I delved into this world, the more I fell in love
                        with it.
                    </p>
                    <p class="lead text-left text-justify pt-2 h6">
                        My insatiable curiosity led me to constantly seek out new technologies and frameworks. I am
                        always eager to improve and expand my knowledge and skills. A few years ago, I
                        embarked on a journey with JavaScript, focusing on Node.js and React. However, about a year ago,
                        I intensified my commitment to development, diving headfirst into Angular 2+ and Java on the
                        backend. I can honestly say that I am absolutely enamored with both, and my passion for
                        technology continues to grow stronger with each passing day.
                    </p>
                    <!--                    <div class=" text-left pt-0 mt-0 mb-3">-->
                    <!--                        {/*-->
                    <!--                        <Link href="/about">-->
                    <!--                        <a class="badge">Check my story on the About Page</a>-->
                    <!--                        </Link> */}-->
                    <!--                    </div>-->
                </div>
                <div class="col-md-6">
                    <h5 class="lp_info_wrapper_intro">My Proficiencies</h5>
                    <p class="lead text-left text-justify pt-2 h6">
                        In recent years, I've embarked on an exhilarating journey into the realm of web development,
                        recognizing the boundless potential it offers in reshaping the digital landscape. As a dedicated
                        Angular/Java programmer in my current role, I've harnessed a spectrum of technologies and tools
                        to create dynamic web solutions that push the boundaries of innovation.
                    </p>
                    <p class="lead text-left text-justify pt-2 h6">
                        Each day at my company unfolds with a symphony of tech marvels. We harness Kafka as a messaging
                        service, ensuring seamless communication across our systems, and Docker containerization
                        empowers our development process, fostering agility and consistency. My devotion to quality has
                        led me to embrace the rigorous art of testing, employing Java with JUnit and Mockito, while the
                        vigilant eye of SonarQube ensures our code maintains the highest standards of excellence. Git
                        has become second nature to me, forming the backbone of our collaborative workflow, and I've
                        honed my skills to master its intricacies.
                    </p>
                    <p class="lead text-left text-justify pt-2 h6">
                        Our development environment resides within the Linux ecosystem, a world where I have become
                        adept at crafting various Linux scripts, allowing me to fine-tune our processes for maximum
                        efficiency. It's a realm where precision is paramount, and I take pride in my ability to
                        navigate its intricate pathways.
                    </p>
                    <p class="lead text-left text-justify pt-2 h6 font-weight-bold small">
                        The toolbox of proficiencies I wield encompasses a wide array of technologies, including HTML,
                        CSS, SCSS, JavaScript, Angular, React, Java EE, Spring Boot, Node.js, Express, MySQL, MongoDB,
                        GraphQL, Kafka, Git, Docker, and an array of frameworks. With each project, I embark on a voyage
                        of exploration, weaving these technologies into the fabric of digital marvels, sculpting the
                        future of web development.
                    </p>
                    <div class="text-left pt-0 mt-0 ">
                        <a class="badge" href="/about">Checkout my About Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
