<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_main-style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_portfolio_id.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"/>
    <title>Welcome to this Portfolio</title>
</head>
<body>
<div class="container-fluid bg-light portfolio_wrapper">
    <br/>
    <div class="d-flex justify-content-center">
        <div class="portfolio_carosel">
            <div th:include="portfolios/carousel :: carousel(${portfolioData.moreImages},${portfolioData.rootDirectory})"></div>
        </div>
    </div>
    <div class="container">
        <div class="portfolio_detail">
            <div class="portfolio_detail_title" th:text="${portfolioData.title}"></div>
            <div class="portfolio_detail_fullDescription">
                <p class="font-weight-bold">Full Description</p>
                <div th:utext="${portfolioData.getFullDescription}"></div>
            </div>
            <div class="portfolio_detail_techUsed">
                <p class="font-weight-bold">Tech Used</p>
                <span th:text="${portfolioData.technologiesUsed}"></span>
            </div>
            <div class="portfolio_detail_start_dates">
                <p class="font-weight-bold mt-3">
                    <span th:text="${'Duration of '+portfolioData.getProjectDuration+' weeks'}"></span>
                    <span class="durationSpan">(From</span>
                    <span class="durationSpan" th:text="${portfolioData.getProjectStartDate}"></span>
                    <span class="durationSpan">To</span>
                    <span class="durationSpan" th:text="${portfolioData.getProjectEndDate+')'}"></span>
                </p>
                <span th:if="${portfolioData.httpAccessLink} != ''">
                    <a class="btn btn-info" target="_blank" th:href="${portfolioData.httpAccessLink}">Live website</a>
                </span>
                <span th:if="${portfolioData.repoLink} != ''">
                    <a class="btn btn-info" target="_blank" th:href="${portfolioData.repoLink}">Github link</a>
                </span>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap4/popper.min.js}"></script>
<script th:src="@{/js/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/js/portfolio/portfolio-by-id.js}"></script>
</body>
</html>