<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/fragments/main :: bootstrap-head"></head>
<head th:replace="shared/fragments/main :: fonts-head"></head>
<head th:replace="shared/fragments/navbar/navbar :: navbar-head"></head>
<head lang="en">
    <title>Portfolios | Ovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_portfolios.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/_main-style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="main_wrapper">
    <div class="main_wrapper_port m-0 p-0"></div>
    <div class="portfolios_card_wrapper mb-0 p-3">
        <div th:each="upcomingPortfolio: ${upcomingPortfolios}">
            <div th:insert="portfolios/upcoming-projects :: upcoming-projects(${upcomingPortfolio})"></div>
        </div>
        <div th:each="portfolio: ${portfolios}">
            <div th:insert="portfolios/project-card :: project-card(${portfolio})"></div>
        </div>
        <!--            <span class="sr-only">Loading...</span>-->
    </div>
</div>
<div th:insert="shared/fragments/navbar/navbar :: navbar(${activePage})"></div>
<div th:insert="shared/fragments/navbar/navbar :: navbar-mobile(${activePage})"></div>
</body>
</html>